# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data files
*.sqlite3
*.db

# Temporary files
*.tmp
*.swp

# IDE files
.idea/
*.iml
